{% extends "base.html" %}
{% block title %}Climate Chamber Control{% endblock %}

{% block content %}
<div class="container">
    <div class="input-section">
        <h1 style="text-align: center;">Climate Chamber Control</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="quick-temperature">
            <h2>Quick Temperature Set</h2>
            <form action="{{ url_for('main.submit_temperature') }}" method="post" class="vertical-form">
                <input type="number" name="temperature" 
                       placeholder="Enter temperature (°C)"
                       step="0.1" required>
                <button type="submit" class="full-width">Set Constant Temperature</button>
            </form>
        </div>
        <div class="additional-controls">
        <a href="{{ url_for('main.manual_control') }}">
            <button type="submit" class="full-width">Start manual control</button>
        </a>
    </div>
    </div>
</div>
{% endblock %}